<style>
  @import url("../SiteAssets/designcenter_theme.css");
</style>

<div id="body_container" style="padding: 30px 0 20px">

  <div id="block-1" class="imgBackground">
    <div class="left_content">
      <div class="ContentBox">
        <div id="projectNane">
          <div class="Title">项目： </div>
          <div class="Content">XXXX</div>
        </div>
        <div id="onlineDate">
          <div class="Title">上线： </div>
          <div class="Content">XXXX年Y月</div>
        </div>
        <div id="backgroundContent">
          <div class="Title">背景： </div>
          <div class="Content">  </div>
        </div>
      </div>
    </div>
    <div class="right_content"></div>
  </div>

  <div id="block-2">
    <div class="ContentBox">
      <div class="Title">设计挑战</div>
      <div class="Content">  </div>
    </div>
  </div>

  <div id="block-3">
    <div class="left_content imgBackground"></div>
    <div class="right_content">
      <div class="ContentBox">
        <svg width="120" height="120" viewBox="0 10 120 120">
         <circle cx="60" cy="45" r="30" stroke="#F14659" stroke-width="3" fill="transparent" />
         <circle cx="80" cy="80" r="30" stroke="#546DE5" stroke-width="3" fill="transparent" />
         <circle cx="40" cy="80" r="30" stroke="#66BC8D" stroke-width="3" fill="transparent" />
         <circle cx="45" cy="60" r="4" stroke-width="0" fill="#FFB612" />
         <circle cx="75" cy="60" r="4" stroke-width="0" fill="#F14659" />
         <circle cx="60" cy="85" r="4" stroke-width="0" fill="#546DE5" />
         <path d="M 42 30 A 25 25 0 0 1 78 30" stroke="#F14659" stroke-width="3" fill="transparent" stroke-linecap="round" />
         <path d="M 80 103 A 25 25 0 0 0 102 78" stroke="#546DE5" stroke-width="3" fill="transparent" stroke-linecap="round" />
         <path d="M 18 75 A 25 25 0 0 0 40 103" stroke="#66BC8D" stroke-width="3" fill="transparent" stroke-linecap="round">
           Sorry, your browser does not support inline SVG.
        </svg>
        <div class="Content">  </div>
      </div>
    </div>
  </div>

  <div id="block-4"></div>

  <div id="block-Tag">
    <img src="/themes/designcenter/SiteAssets/icon/Icon_Tagging_Red@1x.png" width="30" height="30">
    <ul></ul>
  </div>
</div>

<script>

  $(document).ready(function() {
    let listTitle = "Case_Study";
    let getSearchParams = (k) => {
      var p={};
      location.search.replace(/[?&]+([^=&]+)=([^&]*)/gi,function(s,k,v){p[k]=v})
      return k?p[k]:p;
    }
    let caseID = getSearchParams('caseID');

    $.ajax({
      url: String.format("{0}/_api/web/lists/getByTitle('{1}')/items({2})?$select=ID,Title,OData__x9879__x76ee__x540d__x79f0_,OData__x4e0a__x7ebf__x65e5__x671f_,OData__x80cc__x666f__x8d44__x6599_,OData__x80cc__x666f__x5716__x7247_,OData__x8bbe__x8ba1__x6311__x6218_,OData__x5185__x6587__x56fe__x7247_,OData__x8bbe__x8ba1__x65b9__x6848_,OData__x6807__x7b7e_/Title,OData__x66f4__x591a__x8d44__x8baf_,OData__x6587__x5b57__x8272__x5f69_,OData__x6807__x9898__x8272__x5f69_,OData__x6311__x6218__x5b57__x8272_,OData__x6311__x6218__x5e95__x8272_&$expand=AttachmentFiles,OData__x6807__x7b7e_",
        _spPageContextInfo.webAbsoluteUrl, listTitle, caseID),
      type: "GET",
      headers: {
        'content-type': 'application/json;odata=verbose',
        "accept": "application/json;odata=verbose",
        "X-RequestDigest": $("#__REQUESTDIGEST").val()
      },
      success: function(data) {
        data = data.d;
        $("#block-1").css({'background-image': 'url('+_spPageContextInfo.webAbsoluteUrl+'/Lists/'+listTitle+'/Attachments/'+caseID+'/'+data.OData__x80cc__x666f__x5716__x7247_+')'});
        $("#block-1 .Title").css({'color': data.OData__x6807__x9898__x8272__x5f69_});
        $("#block-1 .Content").css({'color': data.OData__x6587__x5b57__x8272__x5f69_});

        $("#projectNane>.Content").html(data.OData__x9879__x76ee__x540d__x79f0_);
        $("#onlineDate>.Content").html(new Date(new Date(data.OData__x4e0a__x7ebf__x65e5__x671f_).getTime()).getFullYear() + "年" + parseInt(new Date(new Date(data.OData__x4e0a__x7ebf__x65e5__x671f_).getTime()).getMonth() + 1) + "月");
        $("#backgroundContent>.Content").html(data.OData__x80cc__x666f__x8d44__x6599_);

        $("#block-2 .ContentBox .Content").html(data.OData__x8bbe__x8ba1__x6311__x6218_);
        $("#block-2 .ContentBox").css({'color': data.OData__x6311__x6218__x5b57__x8272_});
        $("#block-2").css({'background-color': data.OData__x6311__x6218__x5e95__x8272_});


        $("#block-3 .imgBackground").css({'background-image': 'url('+_spPageContextInfo.webAbsoluteUrl+'/Lists/'+listTitle+'/Attachments/'+caseID+'/'+data.OData__x5185__x6587__x56fe__x7247_+')'});
        $("#block-3 .ContentBox .Content").html(data.OData__x8bbe__x8ba1__x65b9__x6848_);

        $("#block-4").html(data.OData__x66f4__x591a__x8d44__x8baf_);

        data.OData__x6807__x7b7e_.results.forEach( v => {
          $("#block-Tag ul").append('<li>'+v.Title+'</li>');
        });
      },
      error: function(error) {
        console.log(error);
      }
    });
  });
</script>
