<style>
  @import url("../SiteAssets/designcenter_theme.css");
</style>

<div id="body_container">
  <div id="poster">
    <img src="/themes/designcenter/SiteAssets/icon/Banner_我们@1x.png" width="1200" />
  </div>

  <div style="margin: 47px 77px;">
    <!-- Org:
    <div class="SingleLineText" style="text-align: center">即刻与我们联系，共同探讨更多未知及可能！</div>

    <div id="contact_continer" style="margin: 0 60px;">
      <div class="icon_list_container n3 muliteline"></div>
    </div>
     -->
     <div class="SingleLineText" style="text-align: center; color: #9D9996; width: 893px; margin: auto; ">
       <p>
         设计中心（Design Center）是属于营运及数码支持的设计团队，目前分布广州与香港两地，致力于提升产品的设计质量与用户体验，探索互联网生态体验创新。
       </p><br/>
       <p>
         设计团队经历过集团与无限极重大产品的体验设计，如爽乐、集团官网、一万步、e帆网、创享平台、创新资讯、员工平台、公众平台、业务平台、海外Smart In、海外官网等，以及设计分享及工作坊。
       </p><br/>
       <p>
         设计中心一直致力于设计研究在互联网方面的探索和发展，专注投身于产品、体验、创意、运营、市场、互联网生态行业和研究工具平台等环节，实现资源的最大化利用，为客户提供专业化的全程解决方案。
       </p>
     </div>

     <table class="spliter" style="margin: 50px 0">
       <tbody>
         <tr>
           <td class="dashed">　</td>
           <td class="SingleLineText" rowspan="2" style="width: 75px;">联系我们</td>
           <td class="dashed">　</td>
         </tr>
         <tr>
           <td>　</td>
           <td>　</td>
         </tr>
       </tbody>
     </table>

     <div class="Form">
        <div>
          <label for="emailAddress">您的邮箱　　：</label>
          <div class="inputContainer">
            <input id="emailAddress" type="email" placeholder=" yourname@email.com"/>
          </div>
        </div>

        <div>
          <label for="messageTpye">信息类型　　：</label>
          <div class="inputContainer">
            <!-- <input id="messageTpye" type="text" size="5" list="msgTpye" placeholder="选择类型"/>
            <datalist id="msgTpye">
              <option value="漸漸">
            </datalist> -->
            <select id="messageType" name="messageType" onchange="$('#messageType').css('color','#221B16')">
              <option value="" disabled selected hidden>&nbsp;选择类型</option>
            </select>
          </div>
        </div>

        <div>
          <label for="message">信息内容　　：</label>
          <div class="inputContainer">
            <textarea id="message" placeholder="咨询/反馈/建议" ></textarea>
          </div>
        </div>

        <div style="text-align: right;">
          <button type="button" id="subFormBtn" onclick="form_submition()">提交需求</button>
        </div>

     </div>
  </div>

  <div class="introBox" style="margin-bottom: 0">
    <img src="/themes/designcenter/SiteAssets/icon/Image_Quote%401x.png" width="99" height="80" />
    <div>设计思维的核心精神为以人为本（user centric），从人性的角度进行研究及分析，以业务需求驱动（business driven），坚信实践主义探索技术可行性（technology implementation），並崇尚多元共创的价值（co-creation），让整体发挥综效。</div>
  </div>

</div>

<script>
  $(document).ready(function() {
    // inti_contact();
    get_filerlist("messageType", "messageType");
  });

  function inti_contact() {
    return $.ajax({
      url: String.format("{0}/_api/web/lists/getByTitle('Contact')/items?$expand=AttachmentFiles&$orderby=OData__x6392__x5e8f_",
        _spPageContextInfo.webAbsoluteUrl),
      type: "GET",
      headers: {
        'content-type': 'application/json;odata=verbose',
        "accept": "application/json;odata=verbose",
        "X-RequestDigest": $("#__REQUESTDIGEST").val()
      },
      success: function(data) {
        print_tab(data);
      },
      error: function(error) {
        console.log(error);
      }
    });
  }

  function print_tab(data) {
    if (data.d.__next)
      $(".read_more>div").attr('data', data.d.__next);
    else
      $(".read_more>div").attr('data', '');
    data = data.d.results;
    console.log(data);
    if (data.length > 0) {
      for (let i = 0; i < data.length; i++) {
        let print = data[i];
        $(".icon_list_container").append(
          `
          <div class="icon_container">
            <div class="icon_pic">
              <img src="${print.Attachments?print.AttachmentFiles.results[0].ServerRelativeUrl:'/themes/designcenter/SiteAssets/icon/Image_DefaultAvatar@1x.png'}" width="220" height="220"/>
            </div>
            <div class="icon_text">
              <div>${print.Title}</div>
              <p class="tiny">${print.OData__x4e2a__x4eba__x7b80__x4ecb_?print.OData__x4e2a__x4eba__x7b80__x4ecb_:''}</p>
            </div>
          </div>`
        );
      }
      $(".icon_list_container").append(
        `
        <div class="icon_container">
          <div class="icon_pic">
            <img src="/themes/designcenter/SiteAssets/icon/Image_我们1@1x.png" width="220" height="220"/>
            <div>
                M: designcenter@infinitus-int.com</div>
            </div>
          </div>
        `
      );
    }
  }

  function get_filerlist(filterName, target) {
    $.ajax({
      url: _spPageContextInfo.webAbsoluteUrl + "/_api/web/lists/GetByTitle('Contact')/fields?$filter=Title eq '" + filterName + "'",
      type: "GET",
      headers: {
        "accept": "application/json;odata=verbose",
      },
      success: function(data) {
        // console.log(data.d.results[0].Choices.results);
        data.d.results[0].Choices.results.forEach(v => $("#" + target).append("<option value=\"" + v + "\">" + v + "</option>"));
      },
      error: function(error) {
        console.error(JSON.stringify(error));
      }
    });
  }

  function form_submition(){
    let listTitle = "Contact";
    $.ajax({
      url: String.format("{0}/_api/web/lists/getByTitle('{1}')/items",
          _spPageContextInfo.webAbsoluteUrl, listTitle),
      type: "POST",
      data: JSON.stringify({  '__metadata': { 'type': 'SP.Data.'+listTitle+'ListItem' },
                              'emailAddress': $("#emailAddress").val(),
                              'messageType': $("#messageType").val(),
                              'message': $("#message").val()
                            }),
      headers: {
        'content-type': 'application/json;odata=verbose',
          "accept": "application/json;odata=verbose",
          "X-RequestDigest": $("#__REQUESTDIGEST").val()
      },
      success: function (data) {
        console.log("update succeeed.");
        $("#emailAddress").val('');
        $("#messageType").val('');
        ("#messageType").css('color','#9D9996');
        $("#message").val('');
        alert("您的需求已成功提交。我们将会尽快与您取得联系！");
      },
      error: function (XMLHttpRequest) {
        alert("提交失败！");
      }
    });
  }
</script>
