#body_container {
  background: #FFFFFF;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.06);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.footer {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

#body_container a:active {
  color: #66BC8D;
}

.SingleLineText {
  font-family: PingFangSC-Regular;
  font-size: 18px;
  color: #221B16;
}

.SingleLineText p {
  line-height: 28px;
}

#poster {
  padding: 30px 0px;
}

.icon_list_container {
  display: flex;
  margin-top: 30px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.icon_container {
  text-align: center;
}

.icon_list_container.muliteline>div {
  padding-bottom: 30px;
}

.icon_list_container.n5>div {
  width: 20%;
}

.icon_list_container.n3>div {
  width: 33%;
}

.icon_text>div {
  font-family: PingFangSC-Medium;
  font-size: 18px;
  color: #221B16;
  margin: 20px auto 16px;
}

.icon_text>p {
  font-family: PingFangSC-Regular;
  font-size: 14px;
  color: #9D9996;
  line-height: 22px;
  margin: 0 14% 10px;
}

.icon_text>p.tiny {
  margin: 0 28% 10px;
}

.icon_pic>div {
  font-family: PingFangSC-Medium;
  font-size: 15px;
  color: #FFFFFF;
  letter-spacing: 0;
  text-align: center;
  line-height: 18px;
  width: 170px;
  margin: 0 auto;
  position: relative;
  top: -135px;
}

.intro, .introBox {
  margin: 65px auto 45px;
}

.intro>img, .introBox>img {
  display: inline-block;
  vertical-align: top;
  margin: 14px 53px 0 0;
}

.intro>div, .introBox>div {
  font-family: PingFangSC-Thin;
  display: inline-block;
  width: 84%;
  font-size: 31px;
  color: #B1ACA9;
  letter-spacing: 0;
  line-height: 52px;
}

.introBox {
  background: #F6F5F5;
  padding: 42px 77px;
}

table.spliter {
  margin: 10px 0;
  width: 100%;
  text-align: center;
}

.spliter .dashed {
  background-image: linear-gradient(to right, #D7D4D2 70%, rgba(255, 255, 255, 0) 0%);
  background-position: bottom;
  background-size: 14px 1px;
  background-repeat: repeat-x;
}

.singletab, .doubletab {
  height: 540px;
  display: flex;
  margin: 30px 0;
  cursor: pointer;
  animation: fadeInFromNone 0.5s ease-out;
}

.fadeOut {
  animation: fadeOutFromSeen 0.5s ease-out forwards;
}

@keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}

@keyframes fadeOutFromSeen {
  0% {
    display: block;
    opacity: 1;
  }
  100% {
    display: none;
    opacity: 0;
  }
}

.singletab .tab, .doubletab .tab {
  width: 100%;
  height: 115px;
  color: #FFFFFF;
  align-self: flex-end;
  padding: 24px 76px;
  transition: height 0.5s;
  overflow: hidden;
}

.singletab .tab {
  background: #F14659;
}

.singletab:hover .tab {
  height: 275px;
}

.doubletab .left_method:hover .tab, .doubletab .right_method:hover .tab {
  height: 305px;
}

.doubletab .tab {
  background: #546DE5;
}

.tab>div {
  margin-top: -8px;
}

.singletab label, .doubletab label, .singletab p, .doubletab p {
  font-family: PingFangSC-Regular;
  vertical-align: text-top;
  font-size: 16px;
}

.singletab div, .doubletab div {
  font-family: PingFangSC-Medium;
  font-size: 26px;
}

.singletab p, .doubletab p {
  margin: 24px 0;
  line-height: 28px;
  opacity: inherit;
}

.doubletab>div {
  display: inline-flex;
  width: 50%;
}

button.click4more {
  font-family: PingFangSC-Regular;
  font-size: 14px;
  border-radius: 6px;
  padding: 9px 46px;
  outline: 0;
}

.singletab button.click4more {
  background-image: linear-gradient(-180deg, #F14659 0%, #DE3245 100%);
  border: 1px solid #D3192D;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.20), inset 0 2px 0 0 #FF7B8A;
}

.doubletab button.click4more {
  background-image: linear-gradient(-180deg, #546DE5 0%, #4C64DB 100%);
  border: 1px solid #465DCE;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.20), inset 0 2px 0 0 #6A83FF;
}

.filter {
  text-align: center;
  height: 20px;
}

.filter .select {
  margin: 0 25px;
}

.filter .select>div {
  display: inline-block;
  width: 15%;
  margin: 0 10px;
  vertical-align: top;
}

.filter .selected_value {
  display: inline-block;
  cursor: pointer;
  font-size: 18px;
  font-family: PingFangSC-Regular;
}

.filter .selection_option>div {
  background: #FFFFFF;
  border-radius: 6px;
  padding: 13px;
  box-shadow: 0px 0px 4px 0px #d4d4d4;
  position: relative;
}

.filter .selection_option>div>div {
  padding: 5px 0;
  cursor: pointer;
  font-family: PingFangSC-Regular;
  font-size: 18px;
}

.filter .selection_option::before {
  content: '';
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 8px solid white;
  display: inline-block;
  position: relative;
  top: 3px;
  filter: drop-shadow(0px -2px 1px #d4d4d4);
  z-index: 2;
}

.read_more {
  margin: 50px auto 0;
  text-align: center;
}

.read_more>div {
  margin: 0 auto;
  border: 1px solid #B1ACA9;
  border-radius: 60px;
  width: 122px;
  height: 122px;
  line-height: 122px;
  font-family: PingFangSC-Regular;
  font-size: 18px;
  color: #221B16;
  cursor: pointer;
}

#portfolios .filter .selection_option>div div:hover, #portfolios .read_more>div:hover {
  color: #F14659;
}

#portfolios .read_more>div:active {
  border-color: #F14659;
}

#methodology .filter .selection_option>div div:hover, #methodology .read_more>div:hover {
  color: #546DE5;
}

#methodology .read_more>div:active {
  border-color: #546DE5;
}

.blankColor {
  background-color: #f2f2f2;
}

#noResult {
  display: flex;
  height: 450px;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  color: #d7d4d2;
}

.hidedElement {
  opacity: 0 !important;
  cursor: default !important;
}

#triangle {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid black;
}

.imgBackground {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#block-1 {
  height: 500px;
}

.left_content, .right_content {
  width: 49.5%;
  height: 100%;
  display: inline-flex;
  align-items: center;
}

.right_content {
  float: right;
}

.ContentBox {
  margin: auto;
}

#block-1 .ContentBox {
  width: 365px;
}

#block-1 .Title {
  font-family: PingFangSC-Medium;
  font-size: 18px;
  color: #F14659;
  display: inline-block;
  vertical-align: top;
  padding: 9px;
}

#block-1 .Content {
  font-family: PingFangSC-Regular;
  font-size: 18px;
  display: inline-block;
  width: 288px;
  padding: 9px;
  color: #FFF;
}

#block-2 {
  display: flex;
  align-items: center;
  background: #F14659;
  color: #FFFFFF;
  height: 268px;
  line-height: 32px;
}

#block-2 .ContentBox {
  width: 80%;
}

#block-2 .Title {
  font-family: PingFangSC-Medium;
  font-size: 18px;
  display: inline-block;
  vertical-align: top;
  padding: 9px;
  width: 15%;
}

#block-2 .Content {
  font-family: PingFangSC-Medium;
  font-size: 14px;
  display: inline-block;
  text-align: justify;
  width: 265px;
  padding: 9px;
  width: 80%;
}

#block-3 {
  background-color: #F6F5F5;
  height: 520px;
}

#block-3 .ContentBox {
  width: 75%;
  margin: auto;
  padding: 5px;
}

#block-3 .Content, #block-3 .Content * {
  font-family: PingFangSC-Light;
  font-size: 26px;
  color: #221B16;
  line-height: 42px;
}

#block-3 .Content>span {
  font-family: PingFangSC-Medium;
  vertical-align: top;
  color: #F14659;
}

#block-4 {
  margin: 50px 0;
}

#block-5 {
  width: 75%;
  margin: 0 auto;
  text-align: center;
  padding: 50px 0;
}

#block-5 .Content {
  font-family: PingFangSC-Medium;
  font-size: 14px;
  color: #221B16;
}

#block-5 .Title {
  font-family: PingFangSC-Semibold;
  font-size: 24px;
  color: #221B16;
}

#block-6 {
  margin: 40px auto;
  width: 75%;
}

#block-6 * {
  font-family: PingFangSC-Medium;
  font-size: 14px;
  line-height: 32px;
}

#block-Tag {
  padding: 58px;
  background-color: #F6F5F5;
  text-align: center;
}

#block-Tag ul {
  display: inline-flex;
}

#block-Tag ul li {
  font-family: PingFangSC-Light;
  font-size: 14px;
  color: #9D9996;
  margin: 0 15px;
}

.Form {
  text-align: center;
  margin: auto;
  width: 70%;
}

.Form ::placeholder {
  color: #9D9996;
}

.Form>div {
  margin: 20px auto;
}

.Form .inputContainer {
  display: inline-flex;
  background: #F6F5F5;
  width: 590px;
  padding: 15px 0 17px;
}

.Form label {
  width: 132px;
  font-family: PingFangSC-Regular;
  font-size: 18px;
  color: #221B16;
  vertical-align: top;
  margin-top: 17px;
}

.Form input, .Form textarea, .Form select {
  width: 100%;
  height: 28px;
  color: #9D9996;
  margin: auto 20px;
  border: 0px !important;
  background-color: #F6F5F5;
  font-family: PingFangSC-Regular;
  font-size: 18px;
  line-height: 28px;
  outline: 0;
  resize: none;
}
.Form input, .Form textarea {
  color: #221B16;
}
.Form textarea {
  height: 270px;
}

.Form select {
  -moz-appearance: none;
  /* Firefox */
  -webkit-appearance: none;
  /* Safari and Chrome */
  appearance: none;
  -moz-appearance: none;
  /* Firefox */
  -webkit-appearance: none;
  /* Safari and Chrome */
  appearance: none;
  background-image: linear-gradient(45deg, transparent 50%, gray 50%), linear-gradient(135deg, gray 50%, transparent 50%);
  background-position: calc(100% - 20px) calc(0.8em + 0px), calc(100% - 15px) calc(0.8em + 0px);
  background-size: 5px 5px, 5px 5px;
  background-repeat: no-repeat;
}

#subFormBtn {
  width: 150px;
  height: 40px;
  background-image: linear-gradient(-180deg, #FFB612 0%, #EFA807 100%);
  border: 1px solid #DF9B02;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.20), inset 0 2px 0 0 #FFCB57;
  border-radius: 6px;
  font-family: PingFangSC-Regular;
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 0;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.50);
}
