<style>
  @import url("./SiteAssets/designcenter_theme.css");
</style>

<div id="body_container">
  <div id="poster">
    <img src="/themes/designcenter/SiteAssets/icon/Banner_%E9%A6%96%E9%A1%B5%401x.png" width="1200"/>
  </div>

  <div style="margin: 50px 77px 0;">

    <div class="icon_list_container n5">
      <div class="icon_container">
        <div class="icon_pic">
          <img src="/themes/designcenter/SiteAssets/icon/Icon_%E7%94%A8%E6%88%B7%E7%A0%94%E7%A9%B6.png" width="152" height="114" />
        </div>
        <div class="icon_text">
          <div>用户研究</div>
          <p>以贩卖好奇心和同理心为宗旨，多维挖掘用户需求协助匹配产品目标</p>
        </div>
      </div>

      <div class="icon_container">
        <div class="icon_pic">
          <img src="/themes/designcenter/SiteAssets/icon/Icon_%E5%88%9B%E6%84%8F%E8%AE%BE%E8%AE%A1.png" width="152" height="114" />
        </div>
        <div class="icon_text">
          <div>创意设计</div>
          <p>结合用户需求及场景，提供产品关键设计方案（交互、视觉、界面）</p>
        </div>
      </div>

      <div class="icon_container">
        <div class="icon_pic">
          <img src="/themes/designcenter/SiteAssets/icon/Icon_%E8%AE%BE%E8%AE%A1%E7%AE%A1%E7%90%86.png" width="152" height="114" />
        </div>
        <div class="icon_text">
          <div>设计管理</div>
          <p>因地制宜设计流程围绕目标进行资源配置、流程管控及质量把关</p>
        </div>
      </div>

      <div class="icon_container">
        <div class="icon_pic">
          <img src="/themes/designcenter/SiteAssets/icon/Icon_%E8%AF%84%E5%AE%A1%E9%AA%8C%E8%AF%81.png" width="152" height="114" />
        </div>
        <div class="icon_text">
          <div>评审验证</div>
          <p>不偏不倚，提供专业的设计原则和行业准则，对设计进行评估及验证</p>
        </div>
      </div>

      <div class="icon_container">
        <div class="icon_pic">
          <img src="/themes/designcenter/SiteAssets/icon/Icon_%E8%AE%BE%E8%AE%A1%E5%92%A8%E8%AF%A2.png" width="152" height="114" />
        </div>
        <div class="icon_text">
          <div>设计咨询</div>
          <p>为产品提供专业的设计方向及设计实施指导</p>
        </div>
      </div>

    </div>

    <div class="intro">
      <img src="/themes/designcenter/SiteAssets/icon/Image_Quote%401x.png" width="99" height="80" />
      <div>以用户为中心，以业务为先，以技术为本，专注设计领域，全面为客户提供简约易用、优质高效的设计解决方案和管理，期待共同打造高质量、高价值、高标准的产品体验。</div>
    </div>

    <table class="spliter">
      <tbody>
        <tr>
          <td class="dashed">　</td>
          <td class="SingleLineText" rowspan="2" style="width: 75px;">最新案例</td>
          <td class="dashed">　</td>
        </tr>
        <tr>
          <td>　</td>
          <td>　</td>
        </tr>
      </tbody>
    </table>

    <div class="singletab">
      <div class="tab">
        <label>xxxx年x月</label><br/>
        <div>XXXXXX</div>
        <span>
          <p style="width: 75%; min-height: 56px;">XXX</p>
          <button type="button" class="click4more" style="margin-bottom: 20px;">查看详情</button>
        </span>
      </div>
    </div>

    <table class="spliter">
      <tbody>
        <tr>
          <td class="dashed">　</td>
          <td class="SingleLineText" rowspan="2" style="width: 92px;">设计小方法</td>
          <td class="dashed">　</td>
        </tr>
        <tr>
          <td>　</td>
          <td>　</td>
        </tr>
      </tbody>
    </table>

    <div class="doubletab" style="margin-bottom: 0;">
      <div class="left_method">
        <div class="tab">
          <label>yyyy</label><br/>
          <div>yyyyyy</div>
          <span>
            <p style="min-height: 84px;">YYY</p>
            <button type="button" class="click4more" style="margin-bottom: 20px;">查看详情</button>
          </span>
        </div>
      </div>
      <div style="width:20px;"></div>
      <div class="right_method">
        <div class="tab">
          <label>zzzz</label><br/>
          <div>zzzzzz</div>
          <span>
            <p style="min-height: 84px;">ZZZ</p>
            <button type="button" class="click4more" style="margin-bottom: 20px;">查看详情</button>
          </span>
        </div>
      </div>
    </div>

  </div>

</div>

<script>
  $(document).ready(function() {
    get_case();
    get_methoddology();
  });

  function get_case() {
    return $.ajax({
      url: String.format("{0}/_api/web/lists/getByTitle('Case_Study')/items?$expand=AttachmentFiles&$orderby=Created desc&$top=1",
        _spPageContextInfo.webAbsoluteUrl),
      type: "GET",
      headers: {
        'content-type': 'application/json;odata=verbose',
        "accept": "application/json;odata=verbose",
        "X-RequestDigest": $("#__REQUESTDIGEST").val()
      },
      success: function(data) {
        data = data.d.results;
        if (data.length == 1) {
          data = data[0];
          $(".singletab").css({
            'background-image': "url(" + _spPageContextInfo.webAbsoluteUrl + "/Lists/Case_Study/Attachments/" + data.Id + "/" + data.OData__x5c01__x9762__x56fe__x7247_ + ")"
          });
          $(".singletab .tab label").html(new Date(new Date(data.OData__x4e0a__x7ebf__x65e5__x671f_).getTime()).getFullYear() + "年" + parseInt(new Date(new Date(data.OData__x4e0a__x7ebf__x65e5__x671f_).getTime()).getMonth() + 1) + "月");
          $(".singletab .tab div").html(data.Title);
          $(".singletab .tab p").html(data.OData__x80cc__x666f__x8d44__x6599_);
          $(".singletab").click( () => {
            window.location.href = "SitePages/case_study.aspx?caseID="+data.Id;
          });
        }
      },
      error: function(error) {
        console.log(error);
      }
    });
  }

  function get_methoddology() {
    return $.ajax({
      url: String.format("{0}/_api/web/lists/getByTitle('Tool')/items?$select=Id, OData__x5c01__x9762__x56fe__x7247_, Title, OData__x6587__x7ae0__x7c7b__x522b_, OData__x6587__x7ae0__x7b80__x4ecb_&$expand=AttachmentFiles",
        _spPageContextInfo.webAbsoluteUrl),
      type: "GET",
      headers: {
        'content-type': 'application/json;odata=verbose',
        "accept": "application/json;odata=verbose",
        "X-RequestDigest": $("#__REQUESTDIGEST").val()
      },
      success: function(data) {
        data = data.d.results;
        if (data.length > 0) {
          let source = random_number(data.length)
          $(".doubletab .left_method").css({
            'background-image': "url(" + _spPageContextInfo.webAbsoluteUrl + "/Lists/Tool/Attachments/" + data[source[0]].Id + "/" + data[source[0]].OData__x5c01__x9762__x56fe__x7247_ + ")"
          });
          $(".doubletab .left_method .tab label").html(data[source[0]].OData__x6587__x7ae0__x7c7b__x522b_);
          $(".doubletab .left_method .tab div").html(data[source[0]].Title);
          $(".doubletab .left_method .tab p").html(data[source[0]].OData__x6587__x7ae0__x7b80__x4ecb_);
          $(".doubletab .left_method").click( () => {
            window.location.href = _spPageContextInfo.webAbsoluteUrl+"/SitePages/tool.aspx?toolID="+data[source[0]].Id;
          });

          $(".doubletab .right_method").css({
            'background-image': "url(" + _spPageContextInfo.webAbsoluteUrl + "/Lists/Tool/Attachments/" + data[source[1]].Id + "/" + data[source[1]].OData__x5c01__x9762__x56fe__x7247_ + ")"
          });
          $(".doubletab .right_method .tab label").html(data[source[1]].OData__x6587__x7ae0__x7c7b__x522b_);
          $(".doubletab .right_method .tab div").html(data[source[1]].Title);
          $(".doubletab .right_method .tab p").html(data[source[1]].OData__x6587__x7ae0__x7b80__x4ecb_);
          $(".doubletab .right_method").click( () => {
            window.location.href = _spPageContextInfo.webAbsoluteUrl+"/SitePages/tool.aspx?toolID="+data[source[1]].Id;
          });
        }
      },
      error: function(error) {
        console.log(error);
      }
    });
  }

  function random_number(total) {
    if (total < 2)
      return undefined;
    let first = Math.floor(Math.random() * total);
    let second;
    do {
      second = Math.floor(Math.random() * total)
    } while (second == first);
    return [first, second];
  }
</script>
