<style>
  @import url("../SiteAssets/designcenter_theme.css");
</style>

<div id="body_container">
  <div id="poster">
    <img src="/themes/designcenter/SiteAssets/icon/Banner_小方法@1x.png" width="1200" />
  </div>

  <div style="margin: 0 77px;" id="methodology">

    <div class="filter">
      <div class="select">
        <div id="method">
          <div class="selected_value" value="all">全部方法</div>
          <div id="triangle" style="display: inline-block;"></div>
          <div class="selection_option" style="display: none">
            <div>
              <div data-type="option" value="all">全部方法</div>
            </div>
          </div>
        </div>

        <div id="year">
          <div class="selected_value" value="all">最近发布</div>
          <div id="triangle" style="display: inline-block;"></div>
          <div class="selection_option" style="display: none">
            <div>
              <div data-type="option" value="all">最近发布</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="method_container" style="min-height: 540px;">
    </div>
    <div class="read_more">
      <div onclick="get_nextCase()">
        浏览更多
      </div>
    </div>

  </div>

</div>

<script>
  $(document).ready(function() {
    get_filerlist("文章类别", "method");
    build_yearlist("year");
    inti_method();
    object_binding();
  });

  function inti_method() {
    return $.ajax({
      url: String.format("{0}/_api/web/lists/getByTitle('Tool')/items?$skiptoken=0&$expand=AttachmentFiles&$orderby=Created desc&$top=10",
        _spPageContextInfo.webAbsoluteUrl),
      type: "GET",
      headers: {
        'content-type': 'application/json;odata=verbose',
        "accept": "application/json;odata=verbose",
        "X-RequestDigest": $("#__REQUESTDIGEST").val()
      },
      success: function(data) {
        print_tab(data);
      },
      error: function(error) {
        console.log(error);
      }
    });
  }

  function get_nextMethod() {
    let next_url = $(".read_more>div").attr('data');
    if (next_url) {
      return $.ajax({
        url: next_url,
        type: "GET",
        headers: {
          'content-type': 'application/json;odata=verbose',
          "accept": "application/json;odata=verbose",
          "X-RequestDigest": $("#__REQUESTDIGEST").val()
        },
        success: function(data) {
          print_tab(data);
        },
        error: function(error) {
          console.log(error);
        }
      });
    }
  }

  function get_method() {
    let query = build_query();

    return $.ajax({
      url: String.format("{0}/_api/web/lists/getByTitle('Tool')/items?$skiptoken=0&$expand=AttachmentFiles&$orderby=Created desc&$top=10{1}",
        _spPageContextInfo.webAbsoluteUrl, query),
      type: "GET",
      headers: {
        'content-type': 'application/json;odata=verbose',
        "accept": "application/json;odata=verbose",
        "X-RequestDigest": $("#__REQUESTDIGEST").val()
      },
      success: function(data) {
        $("#method_container .doubletab").addClass('fadeOut');
        $("#method_container").height($("#method_container").height());
        setTimeout( () => {
          $("#method_container").html('');
          print_tab(data);
          $("#method_container").height('auto');
        }, 500);
      },
      error: function(error) {
        console.log(error);
      }
    });
  }

  function build_query() {
    let query = '';
    if ($("#method .selected_value").attr('value') != 'all')
      query += '(OData__x6587__x7ae0__x7c7b__x522b_ eq \'' + $("#method .selected_value").html() + '\')';

    if ($("#year .selected_value").attr('value') != 'all') {
      if (query.length)
        query += ' and ';
      query += '(OData__x65e5__x671f_ ge datetime\'' + $("#year .selected_value").html() + '-01-01T00:00:00Z\')';
      query += ' and ';
      query += '(OData__x65e5__x671f_ lt datetime\'' + parseInt(parseInt($("#year .selected_value").html()) + 1) + '-01-01T00:00:00Z\')';
    }

    if (query.length)
      query = '&$filter=(' + query + ')';
    return query;
  }

  function print_tab(data) {
    if (data.d.__next){
      $(".read_more>div").removeClass("hidedElement");
      $(".read_more>div").attr('data', data.d.__next);
    }
    else{
      $(".read_more>div").addClass("hidedElement");
      $(".read_more>div").attr('data', '');
    }
    data = data.d.results;
    if (data.length > 0) {
      for (let i = 0; i < data.length; i++) {
        let print = data[i];
        if ($("[data-row-value='" + Math.floor(i / 2) + "']").length == 0)
          $("#method_container").append(`<div class="doubletab" style="margin-bottom: 0;" data-row-value="${Math.floor(i/2)}"></div>`);

          $("#method_container .doubletab[data-row-value='" + Math.floor(i / 2) + "']").append(
            `
              <div class="${i%2==0?"left_method":"right_method"}" id="${print.Id}" style="background: url('${_spPageContextInfo.webAbsoluteUrl}/Lists/Tool/Attachments/${print.Id}/${print.OData__x5c01__x9762__x56fe__x7247_}')">
                <div class="tab">
                  <label>${print.OData__x6587__x7ae0__x7c7b__x522b_}</label><br/>
                  <div>${print.Title}</div>
                  <span>
                    <p style="min-height: 84px;">${print.OData__x6587__x7ae0__x7b80__x4ecb_?print.OData__x6587__x7ae0__x7b80__x4ecb_:''}</p>
                    <button type="button" class="click4more" style="margin-bottom: 20px;">查看详情</button>
                  </span>
                </div>
              </div>`
          );

        $(".doubletab #" + print.Id).click( () => {
          window.location.href = _spPageContextInfo.webAbsoluteUrl+"/SitePages/tool.aspx?toolID="+print.Id;
        });
        if (i % 2 == 0)
          $("#method_container .doubletab[data-row-value='" + Math.floor(i / 2) + "']").append(`<div style="width:20px;"></div>`);
        if (i + 1 == data.length && i % 2 == 0)
          $("#method_container .doubletab[data-row-value='" + Math.floor(i / 2) + "']").append(`<div class="right_method blankColor"></div>`);
      }
    } else {
      // $("#method_container").append(`
      // <div class="doubletab" style="margin-bottom: 0;" data-row-value="blank">
      //   <div class="left_method blankColor"></div>
      //   <div style="width:20px;"></div>
      //   <div class="right_method blankColor"></div>
      // </div>`);
      $(".read_more>div").addClass("hidedElement");
      $("#method_container").append(`
        <div id="noResult">
          <div style="margin: 15px 0;">未找到你想要的东西</div>
          <img src="/themes/designcenter/SiteAssets/icon/Icon_404@1x.png" width="207" height="185" style="">
        </div>`);
    }
  }

  function get_filerlist(filterName, target) {
    $.ajax({
      url: _spPageContextInfo.webAbsoluteUrl + "/_api/web/lists/GetByTitle('Tool')/fields?$filter=Title eq '" + filterName + "'",
      type: "GET",
      headers: {
        "accept": "application/json;odata=verbose",
      },
      success: function(data) {
        // console.log(data.d.results[0].Choices.results);
        data.d.results[0].Choices.results.forEach(v => $("#" + target + " .selection_option>div").append("<div data-type=\"option\" value=\"" + v + "\">" + v + "</div>"));
      },
      error: function(error) {
        console.error(JSON.stringify(error));
      }
    });
  }

  function build_yearlist(target) {
    let endPoint = 2015;
    let y = parseInt(new Date().getFullYear());
    do {
      $("#" + target + " .selection_option>div").append("<div data-type=\"option\" value=\"" + y + "\">" + y + "</div>");
      y -= 1;
    } while (y >= endPoint);
  }

  function object_binding() {
    $(document).click((e) => {
      if ($("#method").has(e.target).length)
        filter_selection("#method", e.target);
      else
        $("#method .selection_option").hide();

      if ($("#year").has(e.target).length)
        filter_selection("#year", e.target);
      else
        $("#year .selection_option").hide();
    });
  }

  function filter_selection(target, value) {
    if ($(value).data('type')) {
      $(target + " .selected_value").html($(value).html());
      $(target + " .selected_value").attr('value', $($(value)).attr('value'));
      $(target + " .selection_option").hide();
      get_method();
    } else $(target + " .selection_option").show();
  }
</script>
