<style>
  #nav {
    color: #221B16;
    font-family: PingFangSC-Regular;
    font-size: 18px;
    margin: 8px 0;
    padding: 14px;
    position: relative;
    top: 11px;
  }

  #nav>.nav_title {
    font-size: 32px;
    color: #221B16;
    letter-spacing: 0;
    line-height: 34px;
    margin: 10px 0px;
  }

  #nav>.nav_body {
    font-size: 16px;
  }

  .nav_body>.left_con {
    color: #9D9996;
    display: inline-block;
  }

  .nav_body>.right_con {
    display: inline-block;
    float: right;
  }

  .nav_body ul {
    width: 330px;
    display: flex;
    justify-content: space-between;
  }

  .nav_body li {
    display: inline-flex;
    flex-direction: column;
  }

  #nav_list>li {
    border-bottom: 5px solid transparent;
    padding-bottom: 12px;
    cursor: pointer;
  }

  #nav_list>#default.loca {
    border-color: #66BC8D;
  }

  #nav_list>#portfolios.loca {
    border-color: #F14659;
  }

  #nav_list>#methodology.loca {
    border-color: #546DE5;
  }

  #nav_list>#contact.loca {
    border-color: #FFB612;
  }
</style>

<div id="nav">
  <div class="nav_title">设计中心</div>
  <div class="nav_body">
    <div class="left_con">营运与数码支持/员工平台/IT技术</div>
    <div class="right_con">
      <ul id="nav_list">
        <li id="default">站点首页</li>
        <li id="portfolios">案例</li>
        <li id="methodology">小方法</li>
        <li id="contact">我们</li>
      </ul>
    </div>
  </div>
</div>

<script>
  var inti = () => {
    for (let v = 0; v < $("ul#nav_list li").length; v++) {
      if ($("ul#nav_list li")[v].id == 'default')
        $($("ul#nav_list li")[v]).click(() => {
          location.href = _spPageContextInfo.webAbsoluteUrl;
        });
      else
        $($("ul#nav_list li")[v]).click(() => {
          location.href = _spPageContextInfo.webAbsoluteUrl + '/SitePages/' + $("ul#nav_list li")[v].id + '.aspx';
        });
    };
    $("#" + location.pathname.substr(location.pathname.lastIndexOf("/") + 1, location.pathname.lastIndexOf(".") - location.pathname.lastIndexOf("/") - 1)).addClass('loca');

    let list = [];
    $("#nav_list li").each(function() {
      list.push($(this)[0].id);
    });
    if (list.indexOf(location.pathname.substr(location.pathname.lastIndexOf("/") + 1, location.pathname.lastIndexOf(".") - location.pathname.lastIndexOf("/") - 1)) < 0){
      $(".nav_title").hide();
      $(".left_con").append('/设计中心');
    }
  }
  inti();
</script>
