<style>
  @import url("../SiteAssets/designcenter_theme.css");
</style>

<div id="body_container">
  <div id="poster">
    <img src="/themes/designcenter/SiteAssets/icon/Banner_案例@1x.png" width="1200" />
  </div>

  <div style="margin: 0 77px;" id="portfolios">

    <div class="filter">
      <div class="select">
        <div id="work">
          <div class="selected_value" value="all">全部作品</div>
          <div id="triangle" style="display: inline-block;"></div>
          <div class="selection_option" style="display: none">
            <div>
              <div data-type="option" value="all">全部作品</div>
            </div>
          </div>
        </div>

        <div id="field">
          <div class="selected_value" value="all">全部领域</div>
          <div id="triangle" style="display: inline-block;"></div>
          <div class="selection_option" style="display: none">
            <div>
              <div data-type="option" value="all">全部领域</div>
            </div>
          </div>
        </div>

        <div id="year">
          <div class="selected_value" value="all">最近发布</div>
          <div id="triangle" style="display: inline-block;"></div>
          <div class="selection_option" style="display: none">
            <div>
              <div data-type="option" value="all">最近发布</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="case_container" style="min-height: 540px;"></div>

    <div class="read_more">
      <div onclick="get_nextCase()">
        浏览更多
      </div>
    </div>

  </div>

</div>

<script>
  $(document).ready(function() {
    get_filerlist("作品类别", "work");
    get_filerlist("作品领域", "field");
    build_yearlist("year");
    inti_case();
    object_binding();
  });

  function inti_case() {
    return $.ajax({
      url: String.format("{0}/_api/web/lists/getByTitle('Case_Study')/items?$skiptoken=0&$expand=AttachmentFiles&$orderby=Created desc&$top=5",
        _spPageContextInfo.webAbsoluteUrl),
      type: "GET",
      headers: {
        'content-type': 'application/json;odata=verbose',
        "accept": "application/json;odata=verbose",
        "X-RequestDigest": $("#__REQUESTDIGEST").val()
      },
      success: function(data) {
        print_tab(data);
      },
      error: function(error) {
        console.log(error);
      }
    });
  }

  function get_nextCase() {
    let next_url = $(".read_more>div").attr('data');
    if (next_url) {
      return $.ajax({
        url: next_url,
        type: "GET",
        headers: {
          'content-type': 'application/json;odata=verbose',
          "accept": "application/json;odata=verbose",
          "X-RequestDigest": $("#__REQUESTDIGEST").val()
        },
        success: function(data) {
          print_tab(data);
        },
        error: function(error) {
          console.log(error);
        }
      });
    }
  }

  function get_case() {
    let query = build_query();

    return $.ajax({
      url: String.format("{0}/_api/web/lists/getByTitle('Case_Study')/items?$skiptoken=0&$expand=AttachmentFiles&$orderby=Created desc&$top=5{1}",
        _spPageContextInfo.webAbsoluteUrl, query),
      type: "GET",
      headers: {
        'content-type': 'application/json;odata=verbose',
        "accept": "application/json;odata=verbose",
        "X-RequestDigest": $("#__REQUESTDIGEST").val()
      },
      success: function(data) {
        $("#case_container .singletab").addClass('fadeOut');
          $("#case_container").height($("#case_container").height());
        setTimeout( () => {
          $("#case_container").html('');
          print_tab(data);
          $("#case_container").height('auto');
        }, 500);
      },
      error: function(error) {
        console.log(error);
      }
    });
  }

  function build_query() {
    let query = '';
    if ($("#work .selected_value").attr('value') != 'all')
      query += '(OData__x4f5c__x54c1__x7c7b__x522b_ eq \'' + $("#work .selected_value").html() + '\')';

    if ($("#field .selected_value").attr('value') != 'all') {
      if (query.length)
        query += ' and ';
      query += '(OData__x4f5c__x54c1__x9886__x57df_ eq \'' + $("#field .selected_value").html() + '\')';
    }

    if ($("#year .selected_value").attr('value') != 'all') {
      if (query.length)
        query += ' and ';
      query += '(OData__x4e0a__x7ebf__x65e5__x671f_ ge datetime\'' + $("#year .selected_value").html() + '-01-01T00:00:00Z\')';
      query += ' and ';
      query += '(OData__x4e0a__x7ebf__x65e5__x671f_ lt datetime\'' + parseInt(parseInt($("#year .selected_value").html()) + 1) + '-01-01T00:00:00Z\')';
    }

    if (query.length)
      query = '&$filter=(' + query + ')';
    return query;
  }

  function print_tab(data) {
    if (data.d.__next){
      $(".read_more>div").removeClass("hidedElement");
      $(".read_more>div").attr('data', data.d.__next);
    }
    else{
      $(".read_more>div").addClass("hidedElement");
      $(".read_more>div").attr('data', '');
    }
    data = data.d.results;
    if (data.length > 0) {
      for (let i = 0; i < data.length; i++) {
        let print = data[i];
        $("#case_container").append(
          `<div class="singletab" id="${print.Id}">
          <div class="tab">
            <label></label><br/>
            <div></div>
            <span>
              <p style="width: 75%; min-height: 56px;"></p>
              <button type="button" class="click4more" style="margin-bottom: 20px;">查看详情</button>
            </span>
          </div>
        </div>`
        );
        $(".singletab#" + print.Id).css({
          'background': "url(" + _spPageContextInfo.webAbsoluteUrl + "/Lists/Case_Study/Attachments/" + print.Id + "/" + print.OData__x5c01__x9762__x56fe__x7247_ + ")"
        });
        $(".singletab#" + print.Id + " .tab label").html(new Date(new Date(print.OData__x4e0a__x7ebf__x65e5__x671f_).getTime()).getFullYear() + "年" + parseInt(new Date(new Date(print.OData__x4e0a__x7ebf__x65e5__x671f_).getTime()).getMonth() + 1) +
          "月");
        $(".singletab#" + print.Id + " .tab div").html(print.Title);
        $(".singletab#" + print.Id + " .tab p").html(print.OData__x80cc__x666f__x8d44__x6599_);
        $(".singletab#" + print.Id).click( () => {
          window.location.href = _spPageContextInfo.webAbsoluteUrl+"/SitePages/case_study.aspx?caseID="+print.Id;
        });
      }
    } else {
      // $("#case_container").append(`<div class="singletab blankColor"></div>`);
      $(".read_more>div").addClass("hidedElement");
      $("#case_container").append(`
        <div id="noResult">
          <div style="margin: 15px 0;">未找到你想要的东西</div>
          <img src="/themes/designcenter/SiteAssets/icon/Icon_404@1x.png" width="207" height="185" style="">
        </div>`);
    }
  }

  function get_filerlist(filterName, target) {
    $.ajax({
      url: _spPageContextInfo.webAbsoluteUrl + "/_api/web/lists/GetByTitle('Case_Study')/fields?$filter=Title eq '" + filterName + "'",
      type: "GET",
      headers: {
        "accept": "application/json;odata=verbose",
      },
      success: function(data) {
        // console.log(data.d.results[0].Choices.results);
        data.d.results[0].Choices.results.forEach(v => $("#" + target + " .selection_option>div").append("<div data-type=\"option\" value=\"" + v + "\">" + v + "</div>"));
      },
      error: function(error) {
        console.error(JSON.stringify(error));
      }
    });
  }

  function build_yearlist(target) {
    let endPoint = 2015;
    let y = parseInt(new Date().getFullYear());
    do {
      $("#" + target + " .selection_option>div").append("<div data-type=\"option\" value=\"" + y + "\">" + y + "</div>");
      y -= 1;
    } while (y >= endPoint);
  }

  function object_binding() {
    $(document).click((e) => {
      if ($("#work").has(e.target).length)
        filter_selection("#work", e.target);
      else
        $("#work .selection_option").hide();

      if ($("#field").has(e.target).length)
        filter_selection("#field", e.target);
      else
        $("#field .selection_option").hide();

      if ($("#year").has(e.target).length)
        filter_selection("#year", e.target);
      else
        $("#year .selection_option").hide();
    });
  }

  function filter_selection(target, value) {
    if ($(value).data('type')) {
      $(target + " .selected_value").html($(value).html());
      $(target + " .selected_value").attr('value', $($(value)).attr('value'));
      $(target + " .selection_option").hide();
      get_case();
    } else $(target + " .selection_option").show();
  }
</script>
