<style>
  @import url("../SiteAssets/designcenter_theme.css");
</style>

<div id="body_container">

  <div id="block-5">
    <div class="Content">
      XXXX年X月XX日
    </div>
    <hr width="40" />
    <div class="Title">
      XXXX！
    </div>
  </div>

  <div class="photoContainer" style="text-align: center;">
    <img>
  </div>

<div id="block-6"></div>

<div id="block-Tag">
  <img src="/themes/designcenter/SiteAssets/icon/Icon_Tagging_Blue@1x.png" width="30" height="30">
  <ul></ul>
</div>
</div>

<script>
  $(document).ready(function() {
    let listTitle = "Tool";
    let getSearchParams = (k) => {
      var p = {};
      location.search.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(s, k, v) {
        p[k] = v
      })
      return k ? p[k] : p;
    }
    let toolID = getSearchParams('toolID');

    $.ajax({
      url: String.format("{0}/_api/web/lists/getByTitle('{1}')/items({2})?$select=ID,Title,OData__x6807__x7b7e_/Title,OData__x65e5__x671f_,OData__x5167__x6587__x6807__x9898_,OData__x66f4__x591a__x8d44__x8baf_,OData__x5185__x6587__x56fe__x7247_&$expand=AttachmentFiles,OData__x6807__x7b7e_",
        _spPageContextInfo.webAbsoluteUrl, listTitle, toolID),
      type: "GET",
      headers: {
        'content-type': 'application/json;odata=verbose',
        "accept": "application/json;odata=verbose",
        "X-RequestDigest": $("#__REQUESTDIGEST").val()
      },
      success: function(data) {
        data = data.d;
        console.log(data);
        $("#block-5 .Content").html(new Date(new Date(data.OData__x65e5__x671f_).getTime()).getFullYear() + "年" + parseInt(new Date(new Date(data.OData__x65e5__x671f_).getTime()).getMonth() + 1) + "月" + parseInt(new Date(new Date(data.OData__x65e5__x671f_).getTime()).getDate()) + "日");
        $("#block-5 .Title").html(data.OData__x5167__x6587__x6807__x9898_);

        $(".photoContainer img").attr('src', _spPageContextInfo.webAbsoluteUrl+'/Lists/'+listTitle+'/Attachments/'+toolID+'/'+data.OData__x5185__x6587__x56fe__x7247_);

        $("#block-6").html(data.OData__x66f4__x591a__x8d44__x8baf_);

        data.OData__x6807__x7b7e_.results.forEach( v => {
          $("#block-Tag ul").append('<li>'+v.Title+'</li>');
        });
      },
      error: function(error) {
        console.log(error);
      }
    });
  });
</script>
